footer {
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;

    svg {
        width: 1.1rem !important;
        height: 1.1rem !important;
        margin-right: 0.625rem;
    }

    p {
        font-size: 0.8rem;
    }
}