.projects-container {
    display: flex;
    flex-direction: column;
    padding: 15rem 1.111rem;
    text-align: left;
}

.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
  
.card {
    position: relative;
    width: 100%;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    perspective: 1000px;
    margin-bottom: 1rem;
}

.zoom {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.313rem 0.313rem 0 0;
    height: 180px; /* Réduit légèrement la hauteur de l'image */
    object-fit: contain; /* Ajuste l'image au conteneur */
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.front {
    display: flex;
    flex-direction: column;
    transform: rotateY(0deg);
    overflow: hidden; /* Empêche le contenu de déborder */
}

.front h2 {
    font-size: 1rem; /* Réduit la taille du texte */
    padding: 0.5rem;
    margin: 0;
}


.back {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    
}

/* Modification du sélecteur pour cibler uniquement la carte survolée */
.card:hover {
    transform: rotateY(180deg);
}

@media (max-width: 43.75rem) {
    .projects-container {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
    }
  
    .projects-container .projects-grid {
        display: block;
    }
      
    .card {
        margin-bottom: 2rem;
    }
}