.projects-container {
    display: flex;
    flex-direction: column;
    padding: 15rem 1.111rem;
    text-align: left;

}
  
.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
}
  
.projects-container .projects-grid .project {
    text-align: left;
}
  
.project h2:hover {
    text-decoration: underline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
  
.zoom {
    border-radius: 0.313rem;
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.05);
}


.white-cards {
    position: fixed; /* Make it fixed */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust for true centering */
    z-index: 1000; /* Make sure it appears above other content */
    background-color: white; /* Background color for the card */
    padding: 1.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
    border-radius: 0.5rem; /* Optional: Adds rounded corners */
    width: 31.25rem; /* Optional: Set a fixed width */
    height: 31.25rem; /* Adjust height based on content */
}

.white-cards .card {
    padding: 1.25rem;
    text-align: center;
}

.white-cards .card button {
    margin-top: 0.625rem;
}


  

@media screen {
    @media (max-width: 43.75rem) {
        .projects-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
  
        .projects-container .projects-grid {
            display: block;
        }
      
        .projects-container .projects-grid .project {
            padding-bottom: 5%;
        }
    }
}